<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trắc nghiệm NTT</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">

    <style>




    </style>

</head>

<body>
<!--&lt;!&ndash;[if lte IE 9]>-->
<!--<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>-->
<!--<![endif]&ndash;&gt;-->

<!-- header-start -->
<header>
    <div class="header-area">
        <div class="main-header-area shimmer-effect"> <!-- Thêm lớp shimmer-effect -->
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <button class="toggle-btn" id="toggleButton">&#9776;</button>

                                <a href="home.html">
                                    <img src="test/gif_logo.gif" alt="GIF" height="110" width="180" style="max-width: 100%; height: auto; border-radius: 15px;">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7" >
                            <div class="main-menu d-none d-lg-block" >
                                <nav>
                                    <ul id="navigation" style="transform: translateX(-130px);">
                                        <li><a href="/home">Trang chủ</a></li>
                                        <li><a href="/#">Huớng dẫn </a></li>
                                        <li><a href="/userphongthi">Phòng thi</a></li>
                                        <li><a href="/profile">Thông tin cá nhân</a></li>
                                        <li>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment d-flex align-items-center"> <!-- Sử dụng d-flex để căn chỉnh ngang -->
                                <span style="font-weight:bold; white-space: nowrap;"><b>Chào mừng: </b></span> <!-- Sử dụng span để không xuống dòng -->
                                <a sec:authentication="name" style="font-weight:bold" class="mx-2"></a> <!-- Thêm class mx-2 để tạo khoảng cách -->
                                <span style="font-weight:bold; white-space: nowrap;"><a th:href="@{/profile}"><img style="width:40px; height:40px" alt="profile" th:src="@{/img/profile.png}"> </img></a></span>
                                <span>&ensp;</span>
                                <form th:action="@{/logout}" method="post" class="mb-0"> <!-- mb-0 để loại bỏ margin dưới form -->
                                    <button class="btn btn-outline-light" style="background-color:blue" type="submit">Đăng xuất</button>
                                </form>
                                <a sec:authorize="hasAnyAuthority('ADMIN')" class="ml-2"> <!-- Thêm class ml-2 để tạo khoảng cách -->
                                    <button class="btn btn-outline-light" style="background-color:blue" type="submit">
                                        <a style="color: white" th:href="@{/cauhois}">Admin</a>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

<!-- sidebar-menu -->
<div class="sidebar" id="sidebar">
    <img src="test/gif_logo.gif" alt="GIF" height="110" width="180" style="max-width: 100%; height: auto; border-radius: 15px;margin-left: 24px;">
    <h2 style="font-family: 'Times New Roman', serif;">
        <span style="color: #00FFFF;">C</span><span style="color: #00F4F4;">h</span><span style="color: #00E9EA;">ứ</span><span style="color: #00DEE0;">c</span>
        <span style="color: #00D3D6;"> </span>
        <span style="color: #00D3D6;">n</span><span style="color: #00DEE0;">ă</span><span style="color: #00E9EA;">n</span><span style="color: #00F4F4;">g</span>
    </h2>
    <ul class="sidebar-menu">
        <li><a href="#">🏠 Trang chủ</a></li>

        <li>
            <a href="#" class="toggle-submenu">👨‍🎓 Thông tin người dùng ⬇</a>
            <ul class="submenu">
                <li><a th:href="@{/profile}">➣ Thông tin cá nhân</a></li>
                <li><a th:href="@{/profile-information}">➣ Chỉnh sửa thông tin</a></li>
                <li><a th:href="@{/dethis/ketquathi}">➣ Xem điểm thi</a></li>
            </ul>
        </li>
        <li><a href="/userphongthi">🏫 Danh sách phòng thi</a></li>
        <li><a href="/monthis">📖 Hướng dẫn thi</a></li>
    </ul>
</div>

<!-- Nút đẩy ra và đưa vào -->

<!-- slider_area_start -->
<div class="content" id="content" style="padding:0px !important;margin-top:100px">
    <div class="videophongthi">
        <div class="video-container1">
            <video controls autoplay loop>
                <source src="test/video_phongthi.mp4" type="video/mp4">
            </video>
        </div>
        <div class="sidebar1">
            <h2>
                <span style="color: #0000FF;">H</span><span style="color: #0000F5;">Ư</span><span style="color: #0000EB;">Ớ</span><span style="color: #0000E2;">N</span><span style="color: #0000D8;">G</span>
                <span style="color: #0000CE;"> </span>
                <span style="color: #0000C5;">D</span><span style="color: #0000BB;">Ẫ</span><span style="color: #0000B1;">N</span>
                <span style="color: #0000A8;"> </span>
                <span style="color: #00009E;">V</span><span style="color: #000094;">À</span><span style="color: #00008B;">O</span>
                <span style="color: #000094;"> </span>
                <span style="color: #00009E;">P</span><span style="color: #0000A8;">H</span><span style="color: #0000B1;">Ò</span><span style="color: #0000BB;">N</span><span style="color: #0000C5;">G</span>
                <span style="color: #0000CE;"> </span>
                <span style="color: #0000D8;">T</span><span style="color: #0000E2;">H</span><span style="color: #0000EB;">I</span>

            </h2>            <hr>
            <h4>Cách 1:</h4>
            <p>Nhìn lên phía trên thanh tiêu đề => chọn "Phong Thi"</p>
            <h4>Cách 2:</h4>
            <p>Nhìn lên phía trên thanh tiêu đề => chọn "&#9776;" sẽ hiện ra thanh bên => chọn "Danh sách phòng thi"</p>
        </div>
    </div>
</div>

<div class="huongdan" id="huongdan">
    <div class="videophongthi">
        <div class="video-container1">
            <video controls autoplay loop>
                <source src="test/video_phongthi.mp4" type="video/mp4">
            </video>
        </div>
        <div class="sidebar1">
            <h2>
                <span style="color: #0000FF;">H</span><span style="color: #0000F5;">Ư</span><span style="color: #0000EB;">Ớ</span><span style="color: #0000E2;">N</span><span style="color: #0000D8;">G</span>
                <span style="color: #0000CE;"> </span>
                <span style="color: #0000C5;">D</span><span style="color: #0000BB;">Ẫ</span><span style="color: #0000B1;">N</span>
                <span style="color: #0000A8;"> </span>
                <span style="color: #00009E;">V</span><span style="color: #000094;">À</span><span style="color: #00008B;">O</span>
                <span style="color: #000094;"> </span>
                <span style="color: #00009E;">P</span><span style="color: #0000A8;">H</span><span style="color: #0000B1;">Ò</span><span style="color: #0000BB;">N</span><span style="color: #0000C5;">G</span>
                <span style="color: #0000CE;"> </span>
                <span style="color: #0000D8;">T</span><span style="color: #0000E2;">H</span><span style="color: #0000EB;">I</span>

            </h2>            <hr>
            <h4>Cách 1:</h4>
            <p>Nhìn lên phía trên thanh tiêu đề => chọn "Phong Thi"</p>
            <h4>Cách 2:</h4>
            <p>Nhìn lên phía trên thanh tiêu đề => chọn "&#9776;" sẽ hiện ra thanh bên => chọn "Danh sách phòng thi"</p>
        </div>
    </div>
</div>

<div class="popular_catagory_area" id="area">
    <div class="videophongthi">
        <div class="video-container1">
            <video controls autoplay loop>
                <source src="test/video_phongthi.mp4" type="video/mp4">
            </video>
        </div>
        <div class="sidebar1">
            <h2>
                <span style="color: #0000FF;">H</span><span style="color: #0000F5;">Ư</span><span style="color: #0000EB;">Ớ</span><span style="color: #0000E2;">N</span><span style="color: #0000D8;">G</span>
                <span style="color: #0000CE;"> </span>
                <span style="color: #0000C5;">D</span><span style="color: #0000BB;">Ẫ</span><span style="color: #0000B1;">N</span>
                <span style="color: #0000A8;"> </span>
                <span style="color: #00009E;">V</span><span style="color: #000094;">À</span><span style="color: #00008B;">O</span>
                <span style="color: #000094;"> </span>
                <span style="color: #00009E;">P</span><span style="color: #0000A8;">H</span><span style="color: #0000B1;">Ò</span><span style="color: #0000BB;">N</span><span style="color: #0000C5;">G</span>
                <span style="color: #0000CE;"> </span>
                <span style="color: #0000D8;">T</span><span style="color: #0000E2;">H</span><span style="color: #0000EB;">I</span>

            </h2>            <hr>
            <h4>Cách 1:</h4>
            <p>Nhìn lên phía trên thanh tiêu đề => chọn "Phong Thi"</p>
            <h4>Cách 2:</h4>
            <p>Nhìn lên phía trên thanh tiêu đề => chọn "&#9776;" sẽ hiện ra thanh bên => chọn "Danh sách phòng thi"</p>
        </div>
    </div>
</div>
<!-- popular_catagory_area_end  -->
<!-- end content -->

<!-- footer start -->
<footer class="bg-primary text-white text-center py-4 mt-5">
    <div class="container d-flex" style="margin: 0px;">
        <!-- Cột 1: Hình ảnh -->
        <div class="footer-image" style="flex: 0 0 20%; max-width: 20%;">
            <img src="test/gif_logo.gif" alt="GIF" height="110" width="180" style="max-width: 100%; height: auto; border-radius: 15px;">
            <img src="img/gvhs.png" alt="" height="130" width="130">
        </div>

        <!-- Cột 2: Nội dung Trắc nghiệm NTT -->
        <div class="footer-left" style="flex: 0 0 25%; max-width: 25%; text-align: center;">
            <h3 class="mb-0" style="text-align: center;">Trắc nghiệm NTT</h3>
            <br>
            <p class="mb-0" style="line-height: 2.3;">Nền tảng thi trắc nghiệm online</p>
            <p class="mb-0" style="line-height: 2.3;"> đáng tin cậy</p>
            <p class="mb-0" style="line-height: 2.3;">© Website 2024 .</p>
        </div>

        <!-- Cột giữa: Thông tin thêm -->
        <div class="footer-middle" style="flex: 0 0 25%; max-width: 25%; text-align: left;margin-left: 100px;">
            <h3 class="mb-0">Tài nguyên:</h3>
            <br>
            <p class="mb-0" style="line-height: 2.3;">➢ Hướng dẫn chi tiết </p>
            <p class="mb-0" style="line-height: 2.3;">➢ Giới thiệu </p>
            <p class="mb-0" style="line-height: 2.3;">➢ Thông tin người dùng</p>

        </div>

        <!-- Cột 3: Thông tin liên hệ -->
        <div class="footer-content" style="flex: 0 0 30%; max-width: 30%; text-align: left; margin-left: 200px;">
            <h3 class="mb-0">Thông tin liên hệ:</h3>
            <br>
            <p class="mb-0" style="line-height: 2.3;">🌐 Liên hệ: phanhieunghia1054@gmail.com</p>
            <p class="mb-0" style="line-height: 2.3;">☎ Số điện thoại: 090525xxx</p>
            <p class="mb-0" style="line-height: 2.3;">🏡 Địa chỉ: 9, Nguyễn Thị Minh Khai, Phường Bến Nghé, Quận 1, Hồ Chí Minh</p>
        </div>
    </div>
</footer>
<!-- /footer end -->

<!-- JS here -->
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/ajax-form.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/scrollIt.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/nice-select.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/gijgo.min.js"></script>
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/main.js"></script>
<!--<script src="js/scripts.js"></script>-->
<script>
    document.querySelectorAll('.toggle-submenu').forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
            const submenu = this.nextElementSibling; // Lấy submenu ngay sau thẻ <a>

            // Kiểm tra xem submenu có đang hiển thị không
            if (submenu.style.display === 'block') {
                submenu.style.display = 'none'; // Ẩn submenu
            } else {
                submenu.style.display = 'block'; // Hiện submenu
            }
        });
    });
    // Thay đổi trạng thái của sidebar khi nhấn nút
    let isHidden = false;
    const sidebar = document.getElementById('sidebar');
    const content = document.getElementById('content');
    const huongdan = document.getElementById('huongdan');

    const area = document.getElementById('area'); // Lấy phần tử popular_catagory_area
    const toggleButton = document.getElementById('toggleButton');

    toggleButton.addEventListener('click', () => {
        isHidden = !isHidden;

        if (isHidden) {
            sidebar.classList.add('sidebar-hidden');
            content.classList.add('content-hidden');
            content.classList.add('huongdan-hidden');
            area.classList.add('area-hidden'); // Thêm lớp để ẩn popular category
            huongdan.classList.add('huongdan-hidden'); // Thêm lớp để ẩn popular category
            toggleButton.innerHTML = '&#9776;'; // Biểu tượng nút
            toggleButton.classList.add('active'); // Thêm lớp active
        } else {
            sidebar.classList.remove('sidebar-hidden');
            content.classList.remove('content-hidden');
            area.classList.remove('area-hidden'); // Xóa lớp để hiện popular category
            huongdan.classList.remove('huongdan-hidden'); // Xóa lớp để hiện popular category
            toggleButton.innerHTML = '&#9776;'; // Biểu tượng nút
            toggleButton.classList.remove('active'); // Xóa lớp active
        }
    });

    // Lấy tất cả các icon-box
    const iconBoxes = document.querySelectorAll('.icon-box');
    const notification = document.querySelector('.notification');
    const overlay = document.querySelector('.overlay');
    const notificationMessage = document.getElementById('notification-message');
    const closeButton = document.querySelector('.close-btn');

    // Hàm hiển thị thông báo
    function showNotification(message) {
        notificationMessage.textContent = message;
        notification.style.display = 'block';
        overlay.style.display = 'block';
    }

    // Thêm sự kiện click cho mỗi icon-box
    iconBoxes.forEach(box => {
        box.addEventListener('click', () => {
            const message = box.getAttribute('data-message');
            showNotification(message);
        });
    });

    // Đóng thông báo
    closeButton.addEventListener('click', () => {
        notification.style.display = 'none';
        overlay.style.display = 'none';
    });

    // Đóng thông báo khi click vào overlay
    overlay.addEventListener('click', () => {
        notification.style.display = 'none';
        overlay.style.display = 'none';
    });


</script>

</body>
</html>