<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/test.css}">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

</head>
<body>
<header>
    <div class="header-area">
        <div class="main-header-area shimmer-effect"> <!-- Thêm lớp shimmer-effect -->
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <button class="toggle-btn" id="toggleButton">&#9776;</button>

                                <a href="index.html">
                                    <img th:src="@{/test/gif_logo.gif}" alt="GIF" height="110" width="180" style="max-width: 100%; height: auto; border-radius: 15px;">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7" >
                            <div class="main-menu d-none d-lg-block" >
                                <nav>
                                    <ul id="navigation" style="transform: translateX(-130px);">
                                        <li><a href="/home">Trang chủ</a></li>
                                        <li><a href="/home">Thông báo</a></li>
                                        <li><a href="/userphongthi">Phòng thi</a></li>

                                        <!--                                            <li><a href="#">Phòng thi<i class="ti-angle-down"></i></a>-->
                                        <!--                                                <ul class="submenu">-->
                                        <!--                                                    <li><a href="candidate.html">Candidates </a></li>-->
                                        <!--                                                    <li><a href="job_details.html">Job Details </a></li>-->
                                        <!--                                                    <li><a href="elements.html">Elements</a></li>-->
                                        <!--                                                </ul>-->
                                        <!--                                            </li>-->
                                        <li><a href="/profile">Thông tin cá nhân</a></li>
                                        <li>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment d-flex align-items-center"> <!-- Sử dụng d-flex để căn chỉnh ngang -->
                                <span style="font-weight:bold; white-space: nowrap;"><b>Chào mừng: </b></span> <!-- Sử dụng span để không xuống dòng -->
                                <a sec:authentication="name" style="font-weight:bold" class="mx-2"></a> <!-- Thêm class mx-2 để tạo khoảng cách -->
                                <span style="font-weight:bold; white-space: nowrap;"><a th:href="@{/profile}"><img style="width:40px; height:40px" alt="profile" th:src="@{/img/profile.png}"> </img></a></span>
                                <span>&ensp;</span>
                                <form th:action="@{/logout}" method="post" class="mb-0"> <!-- mb-0 để loại bỏ margin dưới form -->
                                    <button class="btn btn-outline-light" style="background-color:blue" type="submit">Đăng xuất</button>
                                </form>
                                <a sec:authorize="hasAnyAuthority('ADMIN')" class="ml-2"> <!-- Thêm class ml-2 để tạo khoảng cách -->
                                    <button class="btn btn-outline-light" style="background-color:blue" type="submit">
                                        <a style="color: white" th:href="@{/cauhois}">Admin</a>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="sidebar" id="sidebar">
    <img th:src="@{/test/gif_logo.gif}" alt="GIF" height="110" width="180" style="max-width: 100%; height: auto; border-radius: 15px;margin-left: 24px;">
    <h2 style="font-family: 'Times New Roman', serif;">
        <span style="color: #00FFFF;">C</span><span style="color: #00F4F4;">h</span><span style="color: #00E9EA;">ứ</span><span style="color: #00DEE0;">c</span>
        <span style="color: #00D3D6;"> </span>
        <span style="color: #00D3D6;">n</span><span style="color: #00DEE0;">ă</span><span style="color: #00E9EA;">n</span><span style="color: #00F4F4;">g</span>
    </h2>
    <ul class="sidebar-menu">
        <li><a href="/home">🏠 Trang chủ</a></li>
        <li>
            <a href="#" class="toggle-submenu">👨‍🎓 Thông tin người dùng ⬇</a>
            <ul class="submenu">
                <li><a th:href="@{#}">➣ Thông tin cá nhân</a></li>
                <li><a th:href="@{/profile-information}">➣ Chỉnh sửa thông tin</a></li>
                <li><a th:href="@{/dethis/ketquathi}">➣ Xem điểm thi</a></li>
            </ul>
        </li>
        <li><a href="/userphongthi">🏫 Danh sách phòng thi</a></li>
        <li><a href="/monthis">📖 Hướng dẫn thi</a></li>
    </ul>
</div>

<div class="content" style="background-color:#c0faff78;" id="content">
    <div class="container mt-5" style="display:grid; place-items:center">
<h2 style="text-align:center">THÔNG TIN TÀI KHOẢN</h2>
<body th:action="@{/update-profile}"
      th:object="${user}" method="post" >
<div class="card1">
        <div class="mb-3">
            <label for="username" class="form-label">Tên tài khoản:</label>
            <input type="text" th:field="*{username}" class="form-control" id="username" readonly>
            <div class="text-danger" th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}"></div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" th:field="*{email}" class="form-control" id="email" readonly>
            <div class="text-danger" th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}"></div>
        </div>

       <div class="mb-3">
        <label for="phone" class="form-label">Số điện thoại</label>
        <input type="text" th:field="*{phone}" class="form-control" id="phone" readonly>
        <div class="text-danger" th:if="${#fields.hasErrors('phone')}"
             th:errors="*{phone}"></div>
       </div>

    <div class="mb-3">
        <label for="address" class="form-label">Địa chỉ</label>
        <input type="text" th:field="*{address}" class="form-control" id="address" readonly>
        <div class="text-danger" th:if="${#fields.hasErrors('address')}"
             th:errors="*{address}"></div>
    </div>


<!--    <div style="display: flex; justify-content: center; margin-top: 5px; gap: 10px;">-->
<!--        <button onclick="window.location.href='/home'" class="btn btn-back">Trở về</button>-->
<!--        <button onclick="window.location.href='/profile-information'" class="btn btn-back">Chỉnh sửa</button>-->
<!--    </div>-->
    <div style="display: flex; justify-content: center; gap: 20px; margin-top: 20px;">
        <button onclick="window.location.href='/home'" class="btn btn-secondary">Trở về</button>
        <button onclick="window.location.href='/profile-information'" class="btn btn-back">Chỉnh sửa</button>
    </div>
</div>
</body>
    </div>

</div>


<footer class="bg-primary text-white text-center py-4 mt-5">
    <div class="container d-flex" style="margin: 0px;">
        <!-- Cột 1: Hình ảnh -->
        <div class="footer-image" style="flex: 0 0 20%; max-width: 20%;">
            <img th:src="@{/test/gif_logo.gif}" alt="GIF" height="110" width="180" style="max-width: 100%; height: auto; border-radius: 15px;">
            <img th:src="@{/img/gvhs.png}" alt="" height="130" width="130">
        </div>

        <!-- Cột 2: Nội dung Trắc nghiệm NTT -->
        <div class="footer-left" style="flex: 0 0 25%; max-width: 25%; text-align: center;">
            <h3 class="mb-0" style="text-align: center;">Trắc nghiệm NTT</h3>
            <br>
            <p class="mb-0" style="line-height: 2.3;">Nền tảng thi trắc nghiệm online</p>
            <p class="mb-0" style="line-height: 2.3;"> đáng tin cậy</p>
            <p class="mb-0" style="line-height: 2.3;">© Website 2024 .</p>
        </div>

        <!-- Cột giữa: Thông tin thêm -->
        <div class="footer-middle" style="flex: 0 0 25%; max-width: 25%; text-align: left;margin-left: 100px;">
            <h3 class="mb-0">Tài nguyên:</h3>
            <br>
            <p class="mb-0" style="line-height: 2.3;">➢ Hướng dẫn chi tiết </p>
            <p class="mb-0" style="line-height: 2.3;">➢ Giới thiệu </p>
            <a href="/profile">
                <p class="mb-0" style="color:white;line-height: 2.3;">➢ Thông tin người dùng</p>
            </a>

        </div>

        <!-- Cột 3: Thông tin liên hệ -->
        <div class="footer-content" style="flex: 0 0 30%; max-width: 30%; text-align: left; margin-left: 200px;">
            <h3 class="mb-0">Thông tin liên hệ:</h3>
            <br>
            <p class="mb-0" style="line-height: 2.3;">🌐 Liên hệ: phanhieunghia1054@gmail.com</p>
            <p class="mb-0" style="line-height: 2.3;">☎ Số điện thoại: 090525xxx</p>
            <p class="mb-0" style="line-height: 2.3;">🏡 Địa chỉ: 9, Nguyễn Thị Minh Khai, Phường Bến Nghé, Quận 1, Hồ Chí Minh</p>
        </div>
    </div>
</footer>
<script th:src="@{/js/scripts.js}"></script>

</body>

</html>


