<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/profile.css">

</head>

<body>
<br>
<br>
<h2 style="text-align:center">THÔNG TIN TÀI KHOẢN</h2>
<form th:action="@{/update-profile}"
      th:object="${user}" method="post">
<div class="card">
        <div class="mb-3">
            <label for="username" class="form-label">Tên tài khoản:</label>
            <input type="text" th:field="*{username}" class="form-control" id="username" readonly>
            <div class="text-danger" th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}"></div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" th:field="*{email}" class="form-control" id="email" required>
            <div class="text-danger" th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}"></div>
        </div>

       <div class="mb-3">
        <label for="phone" class="form-label">Số điện thoại</label>
        <input type="text" th:field="*{phone}" class="form-control" id="phone" required>
        <div class="text-danger" th:if="${#fields.hasErrors('phone')}"
             th:errors="*{phone}"></div>
       </div>

    <div class="mb-3">
        <label for="address" class="form-label">Địa chỉ</label>
        <input type="text" th:field="*{address}" class="form-control" id="address" required>
        <div class="text-danger" th:if="${#fields.hasErrors('address')}"
             th:errors="*{address}"></div>
    </div>


        <input th:field="*{password}" type="hidden">
        <input th:field="*{id}" type="hidden">

    <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
    <p><button type="submit">Cập Nhật</button></p>
</div>
</form>

</body>

</html>