<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
    <title>Thêm ca thi</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <h1>Thêm ca thi mới</h1>
    <form th:action="@{/cathis/add}" th:object="${cathi}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="tencathi" class="form-label">Tên ca thi</label>
            <input type="text" th:field="*{tencathi}" class="form-control" id="tencathi" required>
            <div class="text-danger" th:if="${#fields.hasErrors('tencathi')}"
                 th:errors="*{tencathi}"></div>
        </div>
        <div class="mb-3">
            <select class="form-control" id="monthi" name="monthi.id">
                <option value="">-- Chon Mon Thi --</option>
                <option th:each="monthi : ${monthis}" th:value="${monthi.id}"
                        th:text="${monthi.tenmonthi}"></option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-control" id="phongthi" name="phongthi.id">
                <option value="">-- Chon Phong Thi --</option>
                <option th:each="phongthi : ${phongthis}" th:value="${phongthi.id}"
                        th:text="${phongthi.tenPhong}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="tenmonhoc" class="form-label">Tên môn học:</label>
            <input type="text" th:field="*{tenmonhoc}" class="form-control" id="tenmonhoc" required>
            <div class="text-danger" th:if="${#fields.hasErrors('tenmonhoc')}"
                 th:errors="*{tenmonhoc}"></div>
        </div>

        <div class="mb-3">
            <label for="tgbd" class="form-label">Thời gian bắt đầu:</label>
            <input type="datetime-local" th:field="*{tgbd}" class="form-control" id="tgbd" required>
            <div class="text-danger" th:if="${#fields.hasErrors('tgbd')}"
                 th:errors="*{tgbd}"></div>
        </div>
        <div class="mb-3">
            <label for="tgkt" class="form-label">Thời gian kết thúc:</label>
            <input type="datetime-local" th:field="*{tgkt}" class="form-control" id="tgkt" required>
            <div class="text-danger" th:if="${#fields.hasErrors('tgkt')}"
                 th:errors="*{tgkt}"></div>
        </div>

<!--        <select class="form-control" id="monthi" name="monthi.id">-->
<!--            <option value=""> chon mon Thi</option>-->
<!--            <option th:each="monthi : ${categories}" th:value="${monthi.id}"-->
<!--                    th:text="${monthi.name}"></option>-->
<!--        </select>-->

        <!-- <div class="mb-3">
             <label for="theloai" class="form-label">Thể loại:</label>
             <select th:field="*{theloai}" class="form-control" id="theloai">
                 <option th:each="theloai : ${theloais}"
                         th:value="${theloai.id}" th:text="${theloai.ten}"></option>
             </select>
         </div>-->
        <!--<div class="mb-3">
            <label for="mota" class="form-label">Mô tả:</label>
            <textarea th:field="*{mota}" class="form-control"
                      id="mota"></textarea>
        </div>
        <div class="mb-3">
            <label for="image"  class="form-label">Hình:</label>
            <input type="file" id="image" name="image" class="form-control" />
        </div>-->
        <button type="submit" class="btn btn-primary">Thêm ca thi</button>
        <a th:href="@{/cathis}" class="btn btn-link">Trở về</a>
    </form>
</section>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
</script>
</body>
</html>