<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Giao diện phòng thi</title>
</head>
<body>
<header>
    <div class="header-area">
        <div class="main-header-area shimmer-effect"> <!-- Thêm lớp shimmer-effect -->
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <button class="toggle-btn" id="toggleButton">Hiển thị</button>

                                <a href="index.html">
                                    <img src="img/logo_khongnen.png" alt="" height="100" width="180">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/home">Trang chủ</a></li>
                                        <li><a href="/home">Thông báo</a></li>
                                        <li><a href="#">Phòng thi<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="candidate.html">Candidates </a></li>
                                                <li><a href="job_details.html">Job Details </a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Ca Thi <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-blog.html">Single Blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Môn thi<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-blog.html">Single Blog</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment d-flex align-items-center"> <!-- Sử dụng d-flex để căn chỉnh ngang -->
                                <span style="font-weight:bold; white-space: nowrap;"><b>Chào mừng: </b></span> <!-- Sử dụng span để không xuống dòng -->
                                <a sec:authentication="name" style="font-weight:bold" class="mx-2"></a> <!-- Thêm class mx-2 để tạo khoảng cách -->
                                <form th:action="@{/logout}" method="post" class="mb-0"> <!-- mb-0 để loại bỏ margin dưới form -->
                                    <button class="btn btn-outline-light" style="background-color:blue" type="submit">Đăng xuất</button>
                                </form>
                                <a sec:authorize="hasAnyAuthority('ADMIN')" class="ml-2"> <!-- Thêm class ml-2 để tạo khoảng cách -->
                                    <button class="btn btn-outline-light" style="background-color:blue" type="submit">
                                        <a style="color: white" th:href="@{/cauhois}">Admin</a>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="sidebar" id="sidebar">
    <h3>Menu</h3>
    <ul class="sidebar-menu">
        <li><a href="/cathis">Danh sách ca thi</a></li>
        <li><a href="/phongthis">Danh sách phòng thi</a></li>
        <li><a href="/monthis">Danh sách môn thi</a></li>
    </ul>
</div>
<div class="content" id="content">
</div>


<footer class="bg-primary text-white text-center py-4 mt-5">
    <div class="container d-flex justify-content-between text-footer">
        <div class="footer-left">
            <h5 class="mb-0">Trắc nghiệm NTT</h5>
            <p class="mb-0">© 2024 Tất cả quyền được bảo lưu.</p>
        </div>
        <div class="footer-content">
            <h5 class="mb-0">Thông tin liên hệ</h5>
            <p class="mb-0">Liên hệ: phanhieunghia1054@gmail.com</p>
        </div>
    </div>
</footer>
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/ajax-form.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/scrollIt.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/nice-select.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/gijgo.min.js"></script>
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/main.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>