<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title th:text="${title} ?: 'DeThi'">De Thi</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
<section layout:fragment="content">
    <h1>Danh Sách De Thi </h1>

    <input type="text" id="searchInput" placeholder="Search by name">
    <button onclick="searchdethis()" class="btn btn-primary">Tìm kiếm</button>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Mã De Thi  </th>
            <th>Tuy Chon</th>
            <th> Chức Năng</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="dethi : ${dethis}">
            <td th:text="${dethi.id}"></td>
            <td th:text="${dethi.madethi}"></td>
            <td><a th:href="@{/chitietdethis/giaodienthi/{made}(made=${dethi.madethi})}">Vao thi</a></td>


            <!-- <td> <img th:src="${sanpham.ImgUrl}" width="100px" height="100px"></td>
             <td th:text="${sanpham.theloai.ten}"></td>-->
            <td>


                    <a th:href="@{/dethis/edit/{id}(id=${dethi.id})}" class="btn btn-success btn-sm">Chỉnh sửa</a>
                    <a th:href="@{/dethis/delete/{id}(id=${dethi.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Xóa</a>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
<script>
    function searchmonthis() {
        var searchInput = document.getElementById("searchInput");
        var searchTerm = searchInput.value.toLowerCase();
        var monthiRows = document.getElementsByTagName("tr");

        for (var i = 1; i < monthiRows.length; i++) {
            var nameCell = monthiRows[i].getElementsByTagName("td")[1];
            var monthiName = nameCell.textContent.toLowerCase();

            if (monthiName.includes(searchTerm)) {
                monthiRows[i].style.display = "";
            } else {
                monthiRows[i].style.display = "none";
            }
        }
    }
</script>