<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title th:text="${title} ?: 'ThongBao'">Thông Báo</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
<section layout:fragment="content">
    <h1>Danh sách Thông Báo </h1>

    <input type="text" id="searchInput" placeholder="Search by name">
    <button onclick="searchphongthis()" class="btn btn-primary">Tìm kiếm</button>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Thông Báo</th>
            <th>Chức Năng</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="thongbao : ${thongbaos}">
            <td th:text="${thongbao.id}"></td>
            <td th:utext="${thongbao.message}"></td>

            <!-- <td th:text="${cathi.tencathi}"></td>-->

            <!-- <td> <img th:src="${sanpham.ImgUrl}" width="100px" height="100px"></td>
             <td th:text="${sanpham.theloai.ten}"></td>-->
            <td>
                <div>
                    <a th:href="@{/thongbaos/edit/{id}(id=${thongbao.id})}" class="btn btn-success btn-sm">Chỉnh sửa</a>
                    <a th:href="@{/thongbaos/delete/{id}(id=${thongbao.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Xóa</a>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
<script>
    function searchphongthis() {
        var searchInput = document.getElementById("searchInput");
        var searchTerm = searchInput.value.toLowerCase();
        var phongthiRows = document.getElementsByTagName("tr");

        for (var i = 1; i < phongthiRows.length; i++) {
            var nameCell = phongthiRows[i].getElementsByTagName("td")[1];
            var phongthiName = nameCell.textContent.toLowerCase();

            if (phongthiName.includes(searchTerm)) {
                phongthiRows[i].style.display = "";
            } else {
                phongthiRows[i].style.display = "none";
            }
        }
    }
</script>